<p>Search Results for '<%= params[:search]%>'</p>


    <% @found_apartments.each do |found_apartment| %> 
            <div><%= link_to found_apartment.title, apartment_path(found_apartment) %></div>        
    <% end %>
   


